[user]
	email = qwertystop+git@fastmail.com
	name = David Heyman

[alias]
	st = status -s
	ci = commit
	br = branch
	co = checkout
	cdiff = !git diff $@ | cdiff --side-by-side --width=0
	nb = checkout -b
	prevision = "!f() { git checkout `git log --oneline $2 |  awk -v commit="$1" 'FNR == -commit+1 {print $1}'` $2;} ;f"
	unstage = reset HEAD --
	last = log -l HEAD
[push]
	default = simple
[diff]
	renames = true
[core]
	editor = nvim
[merge]
	conflictstyle = diff3
