[user]
	email = dheyman@fastmail.com
	name = David Heyman

[alias]
	st = status -s
	ci = commit
	br = branch
	co = checkout
	cdiff = !git diff $@ | cdiff --side-by-side --width=0
	nb = checkout -b
[push]
	default = simple
