[user]
	email = qwertystop@users.noreply.github.com
	name = Vivian Heyman

[alias]
	st = status -s
	ci = commit
	br = branch
	co = checkout
	sw = switch
	cdiff = !git diff $@ | cdiff --side-by-side --width=0
	nb = checkout -b
	# Checks out the $1-changes-ago version of file $2
	prevision = "!f() { git checkout `git log --oneline $2 |  awk -v commit="$1" 'FNR == -commit+1 {print $1}'` $2;} ;f"
	unstage = reset HEAD --
	last = log -l HEAD
[push]
	default = simple
[diff]
	renames = true
[core]
	editor = nvim
[merge]
	conflictstyle = diff3
[pull]
	ff = only
